<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanjiexu.mapper.order.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.fanjiexu.entity.Orders" >
    <id column="Tid" property="tid" jdbcType="BIGINT" />
    <result column="CreateId" property="createId" jdbcType="BIGINT" />
    <result column="ProxyUserId" property="proxyUserId" jdbcType="BIGINT" />
    <result column="LastGuid" property="lastGuid" jdbcType="BIGINT" />
    <result column="Clone" property="clone" jdbcType="INTEGER" />
    <result column="UpdateId" property="updateId" jdbcType="BIGINT" />
    <result column="UpdateDate" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="UserTid" property="userTid" jdbcType="BIGINT" />
    <result column="Amount" property="amount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    Tid, CreateId, ProxyUserId, LastGuid, Clone, UpdateId, UpdateDate, Status, UserTid, 
    Amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where Tid = #{tid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders
    where Tid = #{tid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fanjiexu.entity.Orders" >
    insert into orders (Tid, CreateId, ProxyUserId, 
      LastGuid, Clone, UpdateId, 
      UpdateDate, Status, UserTid, 
      Amount)
    values (#{tid,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{proxyUserId,jdbcType=BIGINT}, 
      #{lastGuid,jdbcType=BIGINT}, #{clone,jdbcType=INTEGER}, #{updateId,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{userTid,jdbcType=BIGINT}, 
      #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.fanjiexu.entity.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        Tid,
      </if>
      <if test="createId != null" >
        CreateId,
      </if>
      <if test="proxyUserId != null" >
        ProxyUserId,
      </if>
      <if test="lastGuid != null" >
        LastGuid,
      </if>
      <if test="clone != null" >
        Clone,
      </if>
      <if test="updateId != null" >
        UpdateId,
      </if>
      <if test="updateDate != null" >
        UpdateDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="userTid != null" >
        UserTid,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="proxyUserId != null" >
        #{proxyUserId,jdbcType=BIGINT},
      </if>
      <if test="lastGuid != null" >
        #{lastGuid,jdbcType=BIGINT},
      </if>
      <if test="clone != null" >
        #{clone,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userTid != null" >
        #{userTid,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanjiexu.entity.Orders" >
    update orders
    <set >
      <if test="createId != null" >
        CreateId = #{createId,jdbcType=BIGINT},
      </if>
      <if test="proxyUserId != null" >
        ProxyUserId = #{proxyUserId,jdbcType=BIGINT},
      </if>
      <if test="lastGuid != null" >
        LastGuid = #{lastGuid,jdbcType=BIGINT},
      </if>
      <if test="clone != null" >
        Clone = #{clone,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        UpdateId = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        UpdateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userTid != null" >
        UserTid = #{userTid,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where Tid = #{tid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanjiexu.entity.Orders" >
    update orders
    set CreateId = #{createId,jdbcType=BIGINT},
      ProxyUserId = #{proxyUserId,jdbcType=BIGINT},
      LastGuid = #{lastGuid,jdbcType=BIGINT},
      Clone = #{clone,jdbcType=INTEGER},
      UpdateId = #{updateId,jdbcType=BIGINT},
      UpdateDate = #{updateDate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      UserTid = #{userTid,jdbcType=BIGINT},
      Amount = #{amount,jdbcType=DOUBLE}
    where Tid = #{tid,jdbcType=BIGINT}
  </update>
</mapper>